<?xml version="1.0"?>
<robot name="mmo_500" xmlns:xacro="http://ros.org/wiki/xacro">


<!-- Melodic -->
 <xacro:macro name="mpo_500_base" params="name parent *origin">
  <joint name="${name}_joint" type="fixed">
    <xacro:insert_block name="origin" />
    <axis xyz="0 0 -1" />
    <joint_properties damping="1" friction="1" />
    <parent link="${parent}" />
    <child link="${name}" />
   </joint>


<!-- Link -->
  <link name="${name}">
    <inertial>
      <mass value="80"/>
      <origin xyz="0 0 0" />
       <inertia ixx="3.253" ixy="0.0" ixz="0.0"
               iyy="3.253" iyz="0.0" 
               izz="3.253" />
    </inertial>
      <visual>
        <origin xyz="0. 0. 0" rpy="-1.571 0 1.571" />
        <geometry>
            <mesh filename="package://neo_mpo_500/robot_model/meshes/MPO_500/MPO-500-BODY.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0. 0. 0.0" rpy="-1.571 0 1.571" />
        <geometry>
          <!--<box size="0.68 0.41 0.25"/> -->
          <mesh filename="package://neo_mpo_500/robot_model/meshes/MPO_500/MPO-500-BODY.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

  </xacro:macro>
  
</robot>




