<?xml version="1.0"?>
<launch>
<!-- front laserscanner   -->

	<!-- parameters -->
	<arg name="name_front" default="sick_s300_front" />
	<rosparam command="load" ns="$(arg name_front)" file="$(find neo_mpo_500)/configs/sick/mpo_500_front.yaml"/>
	<!-- start node -->
	<node pkg="cob_sick_s300" type="cob_sick_s300" name="$(arg name_front)" respawn="false" output="screen" >
	</node>
	<!--start filter node-->
	<node pkg="cob_sick_s300" ns="$(arg name_front)" type="cob_scan_filter" name="$(arg name_front)_filter" respawn="false" output="screen" >
	</node>

<!-- BACK laserscanner   -->

	<!-- parameters -->
	<arg name="name_back" default="sick_s300_back" />
	<rosparam command="load" ns="$(arg name_back)" file="$(find neo_mpo_500)/configs/sick/mpo_500_back.yaml"/>
	<!-- start node -->
	<node pkg="cob_sick_s300" type="cob_sick_s300" name="$(arg name_back)" respawn="false" output="screen" >
	</node>
	<!--start filter node-->
	<node pkg="cob_sick_s300" ns="$(arg name_back)" type="cob_scan_filter" name="$(arg name_back)_filter" respawn="false" output="screen" >
	</node>

</launch>
