<?xml version="1.0"?>

<launch>

  <arg name="env_map" default="$(find neo_mpo_500)/configs/navigation/maps/$(env MAP_NAME).yaml" />

  <!-- MAP SERVER -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg env_map)">
  </node>

  <!-- Topic Relays -->
  <node pkg="topic_tools" type="relay" ns="/lidar_1" name="relay" args="/lidar_1/scan_filtered /scan" />
  <node pkg="topic_tools" type="relay" ns="/lidar_2" name="relay" args="/lidar_2/scan_filtered /scan" />

  <!-- AMCL Node -->
  <node pkg="amcl" type="amcl" name="amcl">
    <rosparam file="$(find neo_mpo_500)/configs/navigation/amcl/amcl_basic.yaml" command="load" />
  </node>

</launch>
