<?xml version="1.0"?>

<launch>

		<!--robot platform-->
		<include file="$(find neo_mpo_500)/configs/relayboard_v2/neo_relayboard_v2.launch"/>

		<include file="$(find neo_mpo_500)/configs/kinematics/mpo_500_kinematics.launch"/> 

		<!--sensors-->
		<include file="$(find neo_mpo_500)/configs/sick/sick_s300.launch"/>

		<include file="$(find neo_mpo_500)/configs/teleop/mpo_500_teleop.launch"/>			


</launch>
