<?xml version="1.0"?>

<launch>

	<!--robot platform-->
	<include file="$(find neo_mpo_500)/configs/relayboard_v2/relayboard_v2.launch"/>
	
	<!--kinemaics-->
	<include file="$(find neo_mpo_500)/configs/kinematics/kinematics.launch"/> 

	<!--sensors-->
	 <include file="$(find neo_mpo_500)/configs/lidar/lidar.launch"/>

	<!--teleoperation-->
	<include file="$(find neo_mpo_500)/configs/teleop/teleop.launch"/>

	<!--robot model-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find neo_mpo_500)/robot_model/mpo_500.urdf.xacro'" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
		<param name="use_gui" value="false" />
	</node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />			

</launch>
