<?xml version="1.0" ?>
<launch>
        
      <node pkg="neo_teleop" type="neo_teleop_keyboard" name="spawn_teleop_keyboard" output="screen">	
      <param name="walk_vel" value="0.1" />
      <param name="run_vel" value="0.2" />
      <param name="yaw_rate" value="0.1" />
      <param name="yaw_run_rate" value="0.2" />
    </node>
</launch>

