<?xml version="1.0"?>
<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    <param name="controller_frequency" value="6.0"/>
    <param name="/use_sim_time" value="true"/>

    <rosparam file="$(find neo_mpo_500)/configs/navigation/move_base/costmaps/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find neo_mpo_500)/configs/navigation/move_base/costmaps/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find neo_mpo_500)/configs/navigation/move_base/costmaps/costmap_local.yaml" command="load" />
    <rosparam file="$(find neo_mpo_500)/configs/navigation/move_base/costmaps/costmap_global.yaml" command="load" />
    <rosparam file="$(find neo_mpo_500)/configs/navigation/move_base/teb_local_planner/teb_planner.yaml" command="load" />
  </node>

</launch>
